/* ==========================================================================
   Index
   ========================================================================== */

.loginSnake{
  position: absolute;
  margin-top: calc(40vh - 200px);
  margin-left: calc(50vw - 10%);
  width: 20%;
}
