body{
    background-color: #eee;
    font-family: 'Trebuchet MS', sans-serif;
}
#texto{
    color: #888;
    font-size: 16px;
}
form {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}
form input{
    width: 100%;
    background-color: #eee;
    border: 1px solid #888;
}