// Add your variables here

//cores
$branco: #fff;

$preto: #000;
$preto_claro: #141414;

$modal-transparente: rgba(0, 0, 0, 0.8);
$branco-transparente: rgba(255, 255, 255, 0.2);

$rosa_claro: #f31e4e;
$rosa_escuro: #c0113a;

$cinza_bgtestimony:#f2f2f2;
$cinza_bgmenu: #f8f8f6;
$cinza_claro: #e5e6eb;
$cinza_medio: #666666;
$cinza_escuro: #333333;
$cinza_azulado: #494d5d;
